<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Player Creator</title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Amita&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>Character Creator</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/creator">Creator</a></li>
                    <li><a href="/info">About the Game</a></li>
                    <li><a href="/chara">How To</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="boxes">
                <div class="about">
                    <p class="firstpara">Your first step in playing an adveturer in the Dungeons & Dragons game is to imagine and create a character of your own. Your character is a combination of game statistics, roleplaying hooks, and your imagination. You choose a race (such as human or halfling) and a class (such as fighter or wizard). You also invent the personality, appearance, and backstory of your character. Once completed, your character serves as your representative in the game, your avatar in the Dungeons & Dragons world.</p>

                    <p>Before you dive into it, think about the kind of adventurer you want to play. You might be a coreageous fighter, a skulking rogue, a fervent clerif, or a flamboyant wizard. Or you might be more interested in an unconventional character, such as a brawny rogue who likes hand-to-hand combat, or a sharpshooter who picks off enemies from afat. Do you like fantasy fiction featuring dwarves or elves? Try building a character of tone of those races. Do you want your character to the the toughest adventurer at the table? Consider a class like barbarian or paladin. Think about it and see what catches your interest.</p>

                    <p>Once you have a character in mind, follow these steps in order, making decisions that reflect the character you want. Your conception of your character might evolve with each choice you make. What's important is that you come to the table with a character you're excited to play.</p>

                    <h4 id="xraces">Races</h4>

                    <p>A visit to one of the great cities in the worlds of Dungeons & Dragons - Waterdeep, the Free City of Greyhawk, or even uncanny Sigil, the City of Doors - overwhelms the senses. Voices chatter in countless different languages. The smells of cooking in dozens of different cuisines mingle with the odors of crowded streets and poor sanitation. Buildings in myriad architectural styles display the diverse origins of their inhabitants. And the people themslves - people of varying size, shape, and color, dressed in a dazzling spectrum of styles and hues - represent many different races, from diminutive halflings and stout dwarves to majestically beautiful elves, mingling among a variety of human ethnicities. Scattered among the members of these more common races are the true exotics: a hulkling dragonborn here, pushing his way through the crowd, and a sly tiefling there, lurking in the shadows with mischief in her eyes. A group of gnomes laughs as one of them activates a clever wooden toy that moves of its own accord. Half-elves and half-orcs live and work alongside humans, without fully belonging to the races of either of their parents. And there, well out of the sunlight, is a lone drow - a fugitive from the subterranean expanse of the Underdark, trying to make his way in a world that fears his kind.</p>

                    <p>Humans are the most common people in the worlds of D&D, but they live and work alongside dwarves, elves, halflings, and countless other fantastic species. Your character belongs to one of these peoples. Not every intelligent race of the multiverse is apprpriate for a player-controlled adventurer. Dwarves, elves, halflings, and humans are the most common races to produce the sort of adventurers who make up typical parties. Dragonborn, gnomes, half-elves, half-orcs, and tieflings are less common as adventurers. Drow, a subrace of elves, are also uncommon. Your choice of race affects many different aspects of your character. It establishes fundamental qualities that exist throughout your character's adventuring career. When making this decision, keep in mind the kind of character you want to play. Your character race no only affects your ability scores and traits but also provides the cues for building your character's story. Each race's description in the chapter include information to help you roleplay a character of that race, including personality, physical appearance, features of society, and racial alighnment tendencies. These details are suggestions to help you think about your character; adventurers can deviate widely from the norm for their race. It's worthwhile to consider why your character is different, as a helpful way to think about your character's background and personality.</p>

                    <h4 id="xclass">Classes</h4>

                    <p>Adventurers are extraordinary people, driven by a thirst for excitement into a life that others would never dare lead. They are heroes, compelled to explore the dark places of the world and take on the challenges that lesser people can't stand against.</p>

                    <p>Class is the primary definition of what your character can do. It's more than a profession; it's your character's calling. Class shapes the way you think about the world and interact with it and your relationship with other people and powers in the multiverse. A fighter, for example, might view the world in pragmatic terms of strategy and maneuvering, and see herself as just a pawn in a much larger game. A cleric, by contrast, might see himself as a willing servant in a god's unfolding plan or a conflict brewing among various deities. While the fighter has contacts in a mercenary company or army, the cleric might know a number of priests, paladins, and devotees who share his faith.</p>

                    <p>Your class fives you a variety of special features, such as a fighter's mastery of weapons and armor, and a wizard's spells. At low levels, your class gives you only two or three features, but as you advance in level you gain more and your existing features often improve. Adventurers sometimes advance in more than one class. A rogue might switch direction in life and swear the oath of a paladin. A barbarian might discover latent magical ability and dabble in the sorcerer class while continuing to advance as a barbarian. Elves are known to combine martial mastery with magical training and advance as fighters and wizards simultaneously. It all depends on how you wish to build your character and how they develop throughout the entirety of the campaign.</p>

                    <h4 id="xbackground">Backgrounds</h4>

                    <p>Every story has a beginning. Your character's background reveals where you came from, how you became an adventurer, and your place in the world. Your fighter might have been a courageous knight or a grizzled soldier. Your wizard could have been a sage or an artisan. Your Rogue might have gotten by as a guild thief or commanded audiences as a jester. Choosing a background provides you with important story cues about your character's identity. The most important question to ask about your background is what changed? Why did you stop doing whatever your background describes and start adventuring? Where did you get the money to purchase your starting gear, or, if you come from a wealthy background, why don't you have more money? How did you learn the skills of your class? What sets you apart from ordinary people who share your background? Though you can create your background to whatever suits your character best, there are premade backgrounds you can choose from and even edit if the background is close but not quite what you were looking for.</p>

                    <h4 id="xskillsprof">Skills & Proficiences</h4>

                    <p>Each ability covers a broad range of capabilities, including skills that a character or a monster can be proficient in. A skill represents a specific aspect of an ability score, and an individual's proficiency in a skill demonstrates a focus on that aspect. A character's starting skill proficiencies are determined at character creation. For example, a Dexterity check might reflect a character's attempt to pull off an acrobatic stunt, to palm an object, or to stay hidden. Each of these aspects of Dexterity has an associated skill: Acrobatics, Sleight of Hand, and Stealth, respectively. So a character who has a proficiency in the Stealth skill is particularky good at Dexterity Checks related to sneaking and hiding.</p>

                    <p>Sometimes the DM might ask for an ability check using a specific skill - for example,"Make a wisdom (perception) check." At other times, a player might ask the DM if proficiency in a particular skill applies to a check. In either case, proficiency in a skill means an individual can add their proficiency bonus to ability checks that involve that skill. Without proficiency in the skill, the individual makes a normal ability check. For example, if a character attempts to climb up a dangerous cliff, the DM might ask for a strength (athletics) check. If the character is proficient in athletics, the character's proficnency bonus is added to the strength check. If the character lacks that proficiency, they just make a strength check.</p>

                    <h4 id="xequip">Equipment</h4>

                    <p>When you create your character, you receive equipment based on a combination of your class and background. Alternatively, you can start with a number of gold pieces based on your class and spend them on items in game. You decide how your character came by this starting equipment. It might have been an inheritance, or goods that the character purchased during their upbringing. You might have been equipped with a weapon, armor, and a backpack as part of military service. You ight even have stolent your gear. A weapon could be a family heirloom, passed down from generation to generation until your character finally took up the mantle and followed in an ancestor's adventurous footsteps. Or you could have fought against someone and pilfered their body of their equipment. Whatever you decide, your strength stats determine how much your character is able to carry and each piece of equipment has a weight to it.</p>

                    <h4 id="xspells">Spells</h4>

                    <p>A spell is a discrete magical effect, a single shaping of the magical energies that suffuse the multiverse into a specific, limited expression. In casting a spell, a character carefully plucks at the invisible strands of raw magic, suffusing the world, pins them in place in a particular pattern, sets them vibrating in a specific way, and then releases them to unleash the desure effect - in most cases, all in the span of seconds. Spells can be versatile tools, weapons, or protective wards. They can deal damage or undo it, impose of remove contision, drain life energy away, and resture life to the dead. Uncounted thousands of spells have been created over the course of the multiverse's history, and many of them are long forgotten. Some might yet lie recorded in the minds of dead gods. Or they might somdeday be be reinvented by a character who has ammassed enough power and wisdom to do so.</p>

                    <p>Every spell has a level from 0 to 9. A spell's level is a general indicator of how powerful it is, with the lowly (but still impressive) magic missile at 1st level and the earth-shaking wish at 9th. Cantrips - simple but powerful spells that characters can cast almost by rote - are level 0. The higher a spell's level, the higher level a spellcaster must be to use that level. Spell level and character level don't correspond directly. Typically, a character has to be at least 17th level, not 9th level, to cast a 9th-level spell.</p>

                    <p>Before a spellcaster can use a spell, they must have the spell firmly fixed in mind, or must have access to the spell in a magic item. Members of a few classes, including bards and sorcerers, have a limited list of spells they know that are always fixed in mind. The same thing is true of many magic-using monsters. Other spellcasters, such as clerics and wizards, undergo a process of preparing spells. This process varies for different classes, as detailed in their descriptions. In every case, the number of spells a caster can have fixed in mind at any given time depends on the charcter's level.</p>

                    <p>Regardless of how many spells a caster knows or prepares, they can cast only a limited number of spells before resting. Manipulating the fabric of magic and channeling its energy into even a simple spell is physically and mentally taxing, and higher-level spells are even more so. Thus, each spellcasting class's description (except that of the warlock) includes a table showing how many spell slots of each spell level a character can use at each character level. When a character casts a spell, they expend a slot of that spell's level or higher, effectively "filling" a slot with the spell. You can think of a spell slot as a groove of a certain size - small for 1st-level slot, larger for a spell of a higher level. Some cahracters and mosnters have special abilities that let them cast spells without using spell slots.</p>
                </div>
            </section>
        </main>
        <footer>&copy; 2022</footer>
        <script src="/script/logout.js"></script>
        <script src="/script/indextabs.js"></script>
    </body>
</html>