<section class="sidebar">
    <button class="createchara">Create</button>
    <h3>Saved Characters</h3>
    {{#if player_name}}
    <button class="createchara">{{player_name}}</button>
    {{/if}}
    <button class="createchara">New Character</button>
</section>