<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Player Creator</title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="/style/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>Character Creator</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/creator">Creator</a></li>
                    <li><a href="/info">About the Game</a></li>
                    <li><a href="/chara">How To</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="boxes">
                <div class="altpic">
                    <img class="slideshow" src="/images/slideshow1.png" alt="orc picture"/>
                    <img class="slideshow" src="/images/slideshow2.png" alt="dwarf picture"/>
                    <img class="slideshow" src="/images/slideshow3.png" alt="drow picture"/>
                    <img class="slideshow" src="/images/slideshow4.png" alt="dragonborn picture"/>
                </div>
                <div class="basicdesc">
                    <div class="desc">
                        <div id="racedesc" class="fulldesc">
                            <h2>Races</h2>
                            <p>Every character belongs to a race, one of the many intelligent humanoid specied in the D&D world. The most common player character races are dwarves, elves, halflings, and humans. Some races also have subraces such as mountain dwarf or wood elf. The race you choose contributes to your character's identity in an important way, establishing a general appearance and the natural talents gained from culture and ancestry.</p>
                            <p>Your character's race grants particular racial traits, such as special senses, proficiency with certain wepons or tools, proficiency in one or more skills, or the ability to use minor spells. These traits sometimes dovetail with the capabilities of certain classes. For Example, the racial traits of lightfoot halflings make them exceptional rogues, and high elves tend to be powerful wizards. Sometimes playing against type can be fun too. Half-Orc paladins and mountain dwarf wizards, for example, cam be unusual but memorable characters.</p>
                        </div>
                        <div id="classdesc" class="fulldesc">
                            <h2>Classes</h2>
                            <p>Every adventurer is a member of a class. Class broadly describes a character's vocation, what special talents they posess, and the tactics they are most likely to employ when exploring a dungeon, fighting monsters, or engaging in a tense negotiation.</p>
                            <p>Your character receives a number of benefits from your choice of class. Many of these benefits are class features - capabilities (including spellcasting) that set your character apart from members of other lasses. You also gain a number of proficiencies: armor, weapons, skills, saving throws, and sometimes tool. Your proficiencies define many of the things your character can do particularly well, from using certain weapons to telling a convincing lie.</p>
                        </div>
                        <div id="subclassdesc" class="fulldesc">
                            <h2>Subclasses</h2>
                            <p>Within every class, there are subclasses that one might choose from to better fit their adventurer and the backstory made around them. Each subclass does something different from the other and specializes in a different means of study, skill, or combat. For example, a storm herald barbarian specializes in the environment around you and manipulation of it to your benefit while a totem warrior is more of a spiritual path.</p>
                        </div>
                        <div id="statsdesc" class="fulldesc">
                            <h2>Stats</h2>
                            <p>The stats of your character is a bit of a catchall phrase, as it isn't just a single section to go through.</p>
                            <p>Much of what your character does in the game depends on their abilities: Strength, Dexterity, Constitution, Intelligence, Wisdom, and Charisma. Each ability has a score which is a number you receive either from a set string of numbers or by rolling a twenty sided die (D20) and figuring our the modifier that goes with the score you rolled.</p>
                        </div>
                        <div id="equipdesc" class="fulldesc">
                            <h2>Equipment</h2>
                            <p>The marketplace of a large city teems with buyers and sellers of many sorts: dwarf smiths and elf woodcarvers, halfling farmers and gnome jewelers, not to mention humans of every shape, size, and color drawn from a spectrum of nations and cultures. In the largest cities, almost anything imaginable is offered for sale, from exotic spices and luxirious clothing to wicker baskets and practical swords. For an adventurer, the availability of armor, weapons, backpacks, rope, and similar goods is of paramount importance, since proper equipment can mean the difference between life and death in a dungeon or the untamed wilds.</p>
                        </div>
                    </div>
                    <div class="tabs">
                        <button class="desctab" onclick="openDesc(event, 'racedesc')" id="defaultOpen">Race</button>
                        <button class="desctab" onclick="openDesc(event, 'classdesc')">Class</button>
                        <button class="desctab" onclick="openDesc(event, 'subclassdesc')">Subclass</button>
                        <button class="desctab" onclick="openDesc(event, 'statsdesc')">Stats</button>
                        <button class="desctab" onclick="openDesc(event, 'equipdesc')">Equipment</button>
                    </div>
                </div>
            </section>
            <section id="boxes">
                <div  class="about">
                    <p>Welcome to the Dungeons & Dragons character creator! The first step to entering any D&D campaign is to make your own character / adventurere and this site is here to help you do exactly that. There is quite a lot to put into a character, but there are pages here to inform you on what you may start with and a form you can fill out and save your character to and edit as the campaign continues on and your character develops. Explore, see what suits you, and make sure to have fun!</p>
                </div>
            </section>
        </main>
        <footer>&copy; 2022</footer>
        <script src="/script/logout.js"></script>
        <script src="/script/indextabs.js"></script>
    </body>
</html>