.logsign {
    justify-content: left;
    background-color: var(--box-color);
    box-sizing: content-box;
    height: auto;
    width: 400px;
    padding: 20px;
}

.logsign p {
    line-height: 2.5;
}

.logsign h2 {
    text-align: center;
}

.logsign input {
    font-size: 16px;
    height: 28px;
    width: 100%;
}

.logsign button {
    margin-right: 20px;
    font-size: 14px;
    padding: 3px;
}

.logsign a {
    text-decoration: underline;
    color: rgb(25, 25, 92);
}

#signup {
    display: none;
}