.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--box-color);
    box-sizing: content-box;
    height: 350px;
    width: 400px;
    padding: 20px;
}

.login p {
    line-height: 2;
}