.logsign {
    justify-content: left;
    background-color: var(--box-color);
    box-sizing: content-box;
    height: auto;
    width: 400px;
    padding: 20px;
}

.logsign p {
    line-height: 2.5;
}

.logsign h2 {
    text-align: center;
}

.logsign input {
    font-size: 16px;
    height: 28px;
    width: 100%;
}

.logsign button {
    font-size: 16px;
    background: transparent;
    border-style: none;
    text-decoration: underline;
}

.logsign button:hover {
    color: rgb(62, 62, 152);
}

#signup {
    display: none;
}